body{
    margin: 0;
    background: rgb(57,58,64);
    background: linear-gradient(90deg, rgba(57,58,64,1) 0%, rgba(132,135,173,1) 46%, rgba(54,54,54,1) 100%); 
}

#formularzDiv{
    background-color: antiquewhite;
    width: 300px;
    height: 600px;
    padding: 50px;
    margin: 20px;
    border: 8px solid #B6B6B6;
}